.doctor-container {
    display: flex;
    flex-direction: row;
    margin: 0;
    background-color: #E5E9F5;

    .doctor-content {
        width: 75%;
        margin-left: 25%;
        height: 100vh;

        .title {
            font-size: 16px;
            margin-bottom: 10px;
            font-weight: 600;
            margin: 10px 20px;
            margin-right: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .btn-doc {
                font-weight: 600;
                border: none;
            }

            .active {
                color: #007bff;
            }

            .btn-add {
                background-color: #4CAF50;
                color: white;
                border: none;
                border-radius: 5px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                cursor: pointer;

                .icon {
                    margin-bottom: 3px;
                    width: 20px;
                    height: 20px;
                }
            }
        }

        .table-title {
            font-size: 16px;
            font-weight: 600;
            text-align: center;
            margin: 10px 0;
            color: #193b48;

        }

        .table-container {
            font-size: 14px;

            .table-header {
                background-color: #193b48;
                color: #fff;
                vertical-align: top;
            }

            .position {
                width: 100px;
            }

            .action {
                width: 150px;
            }

            .tb-row {
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

.modal-content {
    width: 600px;

    .register-form {
        color: #193B48;
        background: #fff;
        border-radius: 20px;
        border: 2px solid rgba(255, 255, 255, 0.5);

        .group-item {
            display: flex;
            justify-content: space-between;
            width: 100%;

            .item {
                width: 48%;
            }

            .email {
                width: 100%;
            }

            .birthday {
                width: 30%;
            }

            .gender {
                width: 25%;
            }

            .image {
                width: 40%;
            }
        }

        .input-image {
            display: flex;
            flex-direction: column;

            .input-container {
                display: flex;
                flex-direction: row;

                .file {
                    margin-right: 10px;
                    font-size: 14px;
                    width: 96px;
                    height: 35px;
                }

                .preview-img {
                    width: 80px;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }

        }

        .btn-register {
            width: 300px;
            background-color: #193B48;
            border-radius: 20px;
            margin: 20px 0;
            color: #fff;
            margin-left: 200px;


            &:hover {
                background-color: #60B4F0;
                color: #fff;
            }
        }
    }
}