.doctor-container {
    display: flex;
    flex-direction: row;
    margin: 0;
    background-color: #E5E9F5;

    .doctor-content {
        width: 75%;

        .title {
            font-size: 20px;
            font-weight: 600;
            margin: 10px 0;
            color: #193b48;

            .btn {
                font-weight: 600;
                border: none;
            }

            .active {
                color: #007bff;
            }
        }

        .table-title {
            font-size: 16px;
            font-weight: 600;
            text-align: center;
            margin: 10px 0;
            color: #193b48;

        }

        .table-container {
            .table-header {
                background-color: #193b48;
                color: #fff;
            }
        }
    }
}