.clinic-section-container {
    height: 450px;
    padding-top: 30px !important;
    margin-bottom: 20px;

    .clinic-section-title {
        padding: 0 168px;
        padding-right: 196px;
        font-size: 24px;
        font-weight: 500;
        color: #020202;
        margin-bottom: 20px;
        display: flex;
        text-align: center;
        justify-content: space-between;
    }

    .clinic-slider {
        padding: 0 168px;

        .clinic-item {
            height: 315px;
            width: 372px !important;
            display: flex !important;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            border: 1px solid #f0f0f0;
            background-color: #fff;


            .clinic-item-image {
                width: 325px;
                height: 215px;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                margin-bottom: 15px;
                border-radius: 10px;
            }

            .clinic-item-name {
                font-size: 18px;
                font-weight: 500;
                color: #020202;
                margin: 0 10px;
                margin-bottom: 5px;
                text-align: center;
            }

        }
    }

}