.register-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #193B48;
    opacity: 0.8;

    .register-form {
        color: #193B48;
        width: 50%;
        background: #fff;
        border-radius: 20px;
        border: 2px solid rgba(255, 255, 255, 0.5);

        .title {
            font-size: 20px;
            margin-top: 10px;
            font-weight: 600;
            text-align: center;
        }

        .btn-group {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        .item {
            display: flex;
            flex-direction: column;
            margin: 10px 20px;

            .label {
                font-size: 16px;
                margin-bottom: 10px;
            }

            .input {
                width: 100%;
                height: 30px;
                border-radius: 5px;
                border: 1px solid #193B48;
                padding: 5px;
            }
        }

        .birthday-gender {
            display: flex;
            margin: 10px 20px;
            justify-content: space-between;

            .birthday {
                width: 48%;
            }

            .gender {
                width: 48%;
            }
        }

        .btn-register {
            width: 300px;
            background-color: #193B48;
            border-radius: 20px;
            margin: 20px 0;
            color: #fff;
            margin-left: 200px;


            &:hover {
                background-color: #60B4F0;
                color: #fff;
            }
        }
    }
}